@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>


<address>
    7930 Jones Branch Dr<br />
    McLean, Virgina 22102<br />
    <abbr title="Phone">P:</abbr>
    1.800.555.0285
</address>

<address>
    <strong>Questions/Comments:</strong>   <a href="mailto:jnickd09@gmail.com">Reach out to Nick</a><br />
    
</address>