@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book Indy</h1>
    <p class="lead">Book Indy is the premiere booking engine for boutique independent hotels in the Indianapolis area </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Join our Family of hotels!</h2>
        <p>
            BookIndy engine helps grow occupancy better than other OTA's on the web at an agressive price point and pass the savings on to you!</p>
        <p><a class="btn btn-default" href="mailto:jnickd09@gmail.com">Inquire here!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gasoline Alley Inn at IMS</h2>
        <p>Gasoline Alley puts you in the heart of the action as Indy Cars zoom past you at over 200mph!.</p>
        <p><a class="btn btn-default" href="https://unsplash.com/photos/PQhq3qLebmc">See the hotel &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Carmel Delights Resort and Spa</h2>
        <p>Carmel Delights will leave you needed a dentist as thier sweet spirit to serves leaves you wanting more.</p>
        <p><a class="btn btn-default" href="https://unsplash.com/photos/WHNPtAilodU">See the hotel &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Fishers' Quarters</h2>
        <p>Argh matey! Fisher's quarters is the place to be as you raise the bar on our rooftop overlooking topgolf.</p>
        <p><a class="btn btn-default" href="https://unsplash.com/photos/dSU0X6EGlpM">Check out the bar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hooiser House on Main</h2>
        <p>For the traditional Hooiser seeking all the luxorious amenities life at the circle has to offer.</p>
        <p><a class="btn btn-default" href="https://unsplash.com/photos/98xg7HEJThA">See the hotel &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zionsville Manor at Cemetery Creek</h2>
        <p>Old world charm in a southern antebellum mansion pearch atop Cemetery Creek, nightly ghost tours available.</p>
        <p><a class="btn btn-default" href="https://unsplash.com/photos/WlURpJNPJIY">See the hotel &raquo;</a></p>
    </div>
</div>