@font-face {
    font-family: 'AUGUSTUS';
    src: url('../fonts/AUGUSTUS.TTF') format('truetype');
}

body {
    padding-top: 200px;
    background-image: url('Assets/jason-leung-UMncYEfO9-U-unsplash.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    font-family: 'AUGUSTUS';
}

.classname {
    font-family: 'AUGUSTUS';
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #CEC7BF;
    border: 5px solid #B29A7A;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1 {
    font-family: 'AUGUSTUS';
    font-style: italic;
}

.navbar {
    font-family: 'AUGUSTUS';
    background-color: #ABB8DA;
    width: auto;
    text-align: end;
    border-bottom: 4px solid black;
}

h2 {
    font-family: 'AUGUSTUS';
    color: #36454F;
    font-weight: bolder;
}

.jumbotron {
    /*background-color: #94A0B0;*/
    background-image: url('Assets/rinck-content-studio-dovoV_nkJFE-unsplash.jpg');
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    border-bottom: 6px inset black;
    color: black;
}

.col-md-12 {
    background-color: #CEC7BF;
    font-style: italic;
    border-bottom: 6px solid black;
}

footer {
    width: auto;
    color: black;
    font-style: italic;
    font-size: 14px;
}

button {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

    button:hover {
        background: rgba(0,0,0,0);
        color: #3a7999;
        box-shadow: inset 0 0 0 3px #3a7999;
    }

.photo {
    background-image: url('Assets/random-institute-FDcydLvV7Io-unsplash.jpg');
    width: auto;
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    padding-top: 300px;
    border-bottom: 6px inset black;
}
